<a href="<%= url %>" class="btn btn-primary pull-right margin-left-xs <%= local_assigns[:btn_class] ? btn_class : '' %>">
  <span class="glyphicon glyphicon-plus"></span> <%= t('create') %> <%= text %>
</a>
